@alkami:registry=https://feeds.alkamitech.com/npm/npm.dev
feeds.alkamitech.com/npm/npm.dev:always-auth=true
//feeds.alkamitech.com/npm/npm.dev:_auth=REMOVED
feeds.alkamitech.com/npm/npm.dev:email=jhartman@ecu.com