@alkami:registry=https://feeds.alkamitech.com/npm/npm.dev
feeds.alkamitech.com/npm/npm.dev:always-auth=true
//feeds.alkamitech.com/npm/npm.dev:_auth=<Base64 of username:password>
feeds.alkamitech.com/npm/npm.dev:email=<useremail>